html{
    font-size: 24px;
}

body{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-image: url('/assets/hero-bg-image.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

h1{
    font-size: 2rem;
    @include tablet {
        font-size: 1.5rem;
    }
    @include mobile {
        font-size: 1rem;
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $white;
    &:hover{
        color: $primary-color;
    }
}