

.feedback{
    @include background-image;
    background-image: url("assets/feedback-bg.png");
    .feedback__main{
        text-align: center;
        &-title{
            font-size: 1rem;
            font-weight: 700;
            color: $primary-color;
            padding: 57px 0 20px;
            @include tablet{
                padding: 46px 0 20px;
                font-size: 0.833rem;
            }
            @include mobile{
                padding: 30px 0 20px;
                font-size: 0.583rem;
            }
        }
        &-heading{
            font-weight: 800;
            color: $black;
            margin-bottom: 40px;
            @include tablet{}
            @include mobile{
                margin-bottom: 10px;
            }
        }
        &-description{
            font-size: 1rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.50);
            width: 66%;
            margin: 0 auto 100px;
            @include tablet{
                font-size: 0.75rem;
                margin-bottom: 60px;
                width: 75%;
            }
            @include mobile{
                font-size: 0.5rem;
                margin-bottom: 16px;
                width: 66%;
            }
        }
        &-client{
            @include d-flex(space-between, row);
            padding-bottom: 320px;
            @include tablet{
                @include d-flex(center, column);
                gap: 30px;
                padding-bottom: 180px;
            }
            .feedback-item{
                max-width: 32%;
                min-height: 250px;
                position: relative;
                border: none;
                background-color: rgba(196, 196, 196, 0.50);
                border-radius: 20px;
                padding: 28px;
                @include tablet{
                    max-width: 400px;
                    align-self: center;
                }
                @include mobile{
                    max-width: 305px;
                    min-height: 190px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -60%);
                    width: 294px;
                    height: 478px;
                    background-image: url('assets/covid-vaccine.png');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: visible;
                    @include tablet{
                        width: 170px;
                        height: 280px;
                    }
                    @include mobile{
                        width: 124px;
                        height: 200px;
                    }
                }
                &--highlight{
                    background-color: $primary-color;
                }
                &__client{
                    @include d-flex(flex-start, row);
                    gap: 20px;
                    align-items: center;
                    @include mobile{
                        gap: 16px;
                    }
                    &-image{
                        width: 70px;
                        height: 70px;
                        @include mobile{
                            width: 53px;
                            height: 53px;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-intro{
                        text-align: left;
                        .client-name{
                            font-size: 1rem;
                            font-weight: 700;
                            color: $black;
                            &--highlight{
                                color: $white;
                            }
                            @include mobile{
                                font-size: 0.583rem;
                            }
                        }
                        .client-address{
                            font-size: 0.583rem;
                            color: rgba(0, 0, 0, 0.80);
                            &--highlight{
                                color: white;
                            }
                            @include mobile{
                                font-size: 0.4167rem;
                            }
                        }
                    }
                }
                &__response{
                    margin-top: 40px;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.6);
                    &--highlight{
                        color: $white;
                    }
                    .highlight{
                        color: $primary-color;
                    }
                    @include mobile{
                        font-size: 0.542rem;
                        margin-top: 30.5px;
                    }
                }
            }
        }
    }
}