

.header{
    padding: 40px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    &__main{
        @include d-flex(space-between, row);
        align-items: center;
        .header__logo{
            position: relative;
            font-size: 1.33rem;
            font-weight: 700;
            color: white;
            &::before{
                content: "";
                width: 100px;
                height: 3px;
                background-color: $primary-color;
                position: absolute;
                left: 0;
                top: calc(100% + 5px);
            }
        }
        
        .header__links{
            @include tablet {
                display: none;
            }
            &-list{
                @include d-flex(flex-start, row);
                gap: 25px;
            }
            .header__link{
                font-size: 1rem;
                &--active{
                    position: relative;
                    font-weight: 700;
                    color: $white;
                    &::before{
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $primary-color;
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translate( -50%, 0);
                    }
                }
            }
        }
        .header__button{
            @include tablet {
                display: none;
            }
            &-status{
                @include button;
                &--secondary{
                    background-color: $secondary-btn-bg;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    color: $primary-color;
                }
            }
        }
        .header__menu{
            display: none;
            @include tablet {
                display: block;
            }
            &-button{
                width: 45px;
                height: 45px;
                border: none;
                border-radius: 10px;
                background-color: $hamburger-menu-bg;
                .bi{
                    font-size: 35px;
                    color: $white;
                }
            }
        }
    }
}