@mixin d-flex($justify-content, $flex-direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin tablet {
    @media screen and (max-width: 1200px) {
      @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 768px) {
      @content;
    }
}

.container{
    max-width: 1300px;
    padding: 0 70px;
    margin: 0 auto;
    @include tablet{
        padding: 0 50px;
    }
    @include mobile{
        padding: 0 35px;
    }
}