@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  padding: 0 70px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 35px;
  }
}

html {
  font-size: 24px;
}

body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-image: url("/assets/hero-bg-image.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

h1 {
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  color: #17C2EC;
}

.header {
  padding: 40px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header__main .header__logo {
  position: relative;
  font-size: 1.33rem;
  font-weight: 700;
}
.header__main .header__logo:hover {
  color: #FFF;
}
.header__main .header__logo::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #17C2EC;
  position: absolute;
  left: 0;
  top: 100%;
}
@media screen and (max-width: 1200px) {
  .header__main .header__links {
    display: none;
  }
}
.header__main .header__links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 25px;
}
.header__main .header__links .header__link {
  font-size: 1rem;
}
.header__main .header__links .header__link--active {
  position: relative;
  font-weight: 700;
}
.header__main .header__links .header__link--active:hover {
  color: inherit;
}
.header__main .header__links .header__link--active::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #17C2EC;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1200px) {
  .header__main .header__button {
    display: none;
  }
}
.header__main .header__button-status {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.header__main .header__button-status--secondary {
  background-color: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #17C2EC;
}
.header__main .header__menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__main .header__menu {
    display: block;
  }
}
.header__main .header__menu-button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: rgba(196, 196, 196, 0.15);
}
.header__main .header__menu-button .bi {
  font-size: 35px;
  color: #FFF;
}

.banner {
  background-image: url("/assets/hero-bg-image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner .banner__main {
  padding-top: 210px;
}
.banner .banner__main-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.banner .banner__main-top-left {
  flex-basis: 48%;
}
.banner .banner__main-top-left .banner__title {
  font-size: 1rem;
  color: #17C2EC;
}
.banner .banner__main-top-left .banner__heading {
  color: #FFF;
  margin: 40px 0 50px;
}
.banner .banner__main-top-left .banner__heading--highlight {
  color: #17C2EC;
}
.banner .banner__main-top-left .banner__description {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
}
.banner .banner__main-top-left .banner__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}
.banner .banner__main-top-left .banner__button-left {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.banner .banner__main-top-left .banner__button-left--primary {
  background-color: #17C2EC;
  color: #FFF;
}
.banner .banner__main-top-left .banner__button-right {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.banner .banner__main-top-left .banner__button-right--secondary {
  background-color: rgba(196, 196, 196, 0.1);
  color: #FFF;
  border: 2px solid #17C2EC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.banner .banner__main-top-right {
  flex-basis: 46%;
}
.banner .banner__main-top-right .banner__image img {
  width: 100%;
  height: auto;
}
.banner .banner__main-bottom {
  margin-top: 180px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 50px 40px;
}
.banner .banner__main-bottom .info__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.banner .banner__main-bottom .info__item-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.banner .banner__main-bottom .info__item-icon .bi {
  color: #17C2EC;
  font-size: 28px;
}
.banner .banner__main-bottom .info__item-info-title {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}
.banner .banner__main-bottom .info__item-info-description {
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
}
.banner .banner__main-bottom-button {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  width: 142px;
  height: 69px;
}
.banner .banner__main-bottom-button--primary {
  background-color: #17C2EC;
  color: white;
}

.brands {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.brands__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.brands__main-item {
  flex-basis: 22%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.brands__main-item img {
  width: 100%;
  height: auto;
}

.vaccination-promo {
  padding: 60px 0 80px;
  background-image: url("/assets/hero-bg-image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo {
    padding: 58px 0 45px;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo {
    padding: 42px 0;
  }
}
.vaccination-promo__main-title {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-title {
    gap: 17px;
    margin-bottom: 40px;
  }
}
.vaccination-promo__main-title-heading {
  max-width: 504px;
  font-weight: 700;
  color: #FFF;
}
.vaccination-promo__main-title-description {
  max-width: 535px;
  font-size: 0.833rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-title-description {
    font-size: 0.583rem;
  }
}
.vaccination-promo__main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.vaccination-promo__main-content-left {
  flex-basis: 35%;
  padding: 40px 40px 70px;
  border-radius: 50px 150px 50px 50px;
  border: 3px solid rgba(196, 196, 196, 0.2);
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content-left {
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left {
    padding: 20px;
    border-radius: 20px 80px 20px 20px;
    max-width: 276px;
  }
}
.vaccination-promo__main-content-left:hover {
  background-color: rgba(196, 196, 196, 0.2);
}
.vaccination-promo__main-content-left:hover .bi, .vaccination-promo__main-content-left:hover .vaccination-title, .vaccination-promo__main-content-left:hover .vaccination-read-more {
  color: #17C2EC !important;
}
.vaccination-promo__main-content-left .vaccination-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: rgba(196, 196, 196, 0.2);
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-icon {
    width: 50px;
    height: 50px;
  }
}
.vaccination-promo__main-content-left .vaccination-icon .bi {
  font-size: 50px;
  color: white;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-icon .bi {
    font-size: 25px;
  }
}
.vaccination-promo__main-content-left .vaccination-title {
  font-size: 1rem;
  color: #FFF;
  margin: 40px 0 30px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-title {
    font-size: 0.583rem;
  }
}
.vaccination-promo__main-content-left .vaccination-description {
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-description {
    font-size: 0.5rem;
  }
}
.vaccination-promo__main-content-left .vaccination-read-more {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-read-more {
    font-size: 0.5rem;
  }
}
.vaccination-promo__main-content-left .vaccination-read-more:hover .bi {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-read-more:hover .bi {
    margin-left: 10px;
  }
}
.vaccination-promo__main-content-left .vaccination-read-more--tertiary {
  background-color: transparent;
}
.vaccination-promo__main-content-left .vaccination-read-more .bi {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-left .vaccination-read-more .bi {
    margin-left: 7px;
  }
}
.vaccination-promo__main-content-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: end;
  flex-basis: 60%;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-self: flex-start;
  }
}
.vaccination-promo__main-content-right .vaccination-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
  flex-basis: 45%;
  border: 3px solid rgba(196, 196, 196, 0.2);
  border-radius: 50px;
  padding: 40px 40px 60px;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content-right .vaccination-item {
    max-width: 296px;
    height: 290px;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item {
    max-width: 188px;
    border-radius: 20px;
    padding: 20px;
    height: 202px;
  }
}
.vaccination-promo__main-content-right .vaccination-item:hover {
  background-color: rgba(196, 196, 196, 0.2);
}
.vaccination-promo__main-content-right .vaccination-item:hover .bi, .vaccination-promo__main-content-right .vaccination-item:hover .vaccination-item__title, .vaccination-promo__main-content-right .vaccination-item:hover .vaccination-item__read-more {
  color: #17C2EC !important;
}
.vaccination-promo__main-content-right .vaccination-item__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 21px;
  background-color: rgba(196, 196, 196, 0.1);
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__icon {
    width: 50px;
    height: 50px;
  }
}
.vaccination-promo__main-content-right .vaccination-item__icon .bi {
  font-size: 35px;
  color: white;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__icon .bi {
    font-size: 25px;
  }
}
.vaccination-promo__main-content-right .vaccination-item__title {
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content-right .vaccination-item__title {
    font-size: 0.833rem;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__title {
    font-size: 0.583rem;
    margin: 30px 0 20px;
  }
}
.vaccination-promo__main-content-right .vaccination-item__read-more {
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  align-self: baseline;
  padding: 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1200px) {
  .vaccination-promo__main-content-right .vaccination-item__read-more {
    font-size: 0.833rem;
  }
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__read-more {
    font-size: 0.583rem;
  }
}
.vaccination-promo__main-content-right .vaccination-item__read-more:hover .bi {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__read-more:hover .bi {
    margin-left: 10px;
  }
}
.vaccination-promo__main-content-right .vaccination-item__read-more--tertiary {
  background-color: transparent;
}
.vaccination-promo__main-content-right .vaccination-item__read-more .bi {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .vaccination-promo__main-content-right .vaccination-item__read-more .bi {
    margin-left: 7px;
  }
}

.covid-prevention {
  background-image: url("/assets/hero-bg-image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 30px 0 30px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .covid-prevention {
    padding: 40px 10px 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .covid-prevention {
    padding: 25px 6px 0 6px;
  }
}
.covid-prevention__title {
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .covid-prevention__title {
    font-size: 0.833rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .covid-prevention__title {
    font-size: 0.5rem;
    margin-bottom: 10px;
  }
}
.covid-prevention__heading {
  color: #FFF;
  margin-bottom: 40px;
  font-weight: 800;
}
.covid-prevention__heading--highlight {
  color: #17C2EC;
}
@media screen and (max-width: 768px) {
  .covid-prevention__heading {
    margin-bottom: 10px;
  }
}
.covid-prevention__description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  width: 66%;
  margin: 0 auto;
  margin-bottom: 180px;
}
@media screen and (max-width: 1200px) {
  .covid-prevention__description {
    font-size: 0.75rem;
    margin-bottom: 60px;
    width: 72%;
  }
}
@media screen and (max-width: 768px) {
  .covid-prevention__description {
    font-size: 0.5rem;
    margin-bottom: 30px;
    width: 79%;
  }
}
.covid-prevention__image {
  width: 100%;
  height: auto;
}
.covid-prevention__image img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
